          h1{
           font-family:Algerian;
           font-size:40px;
           text-align:center;
           background-color:teal;
           color:white;
           margin-bottom:0;
           }

          .intro{
           display:flex;
           justify-content:space-between;
           align-items:center;
           background-color:#b8fcca; 
           padding:10px;
           margin-top:0; 
           color:white;
           }

          .mark{
           display:flex;
           gap:20px;
           }
          
          .mark a{
           color:darkblue;
           text-decoration:none;
           padding:8px;
           font-size:22px;
           }

           .mark a:hover{
            color:white;
            background-color:green;
            }

           section{
            margin:20px;
            padding:20px;
            background-color:lightgreen;
            box-shadow:0 1px 20px yellow;
            font-size:30px;
            }
 
           .project1{
            font-size:30px;
            background-color:#f7f3d0;
            padding:20px;
            }
          
           .project2{
            font-size:30px;
            background-color:#7ea5f7;
            padding:20px;
            }

           .project3{
            font-size:30px;
            background-color:#baffc0;
            padding:20px;
            }

           .project4{
            font-size:30px;
            background-color:#ffdec4;
            padding:20px;
            }

           .project5{
            font-size:30px;
            background-color:#e9c7ff;
            padding:20px;
            }

            footer{
            text-align:center;
            font-size:26px;
            background-color:teal;
            }

           button{
            color:light blue;
            background:linear-gradient(to right, yellow, green);
            font-size:26px;
            font-family:Jokerman;
            }
